main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

my-clock{
    position: sticky;
    top: 0;
}

footer {
    position: sticky;
    bottom: 0;
}

footer .copyinfo {
    margin-top: 30px;
    font-size: 14px;
    color: #999;
}
